Aula De Tuplas

In [154]:
#Tupla co parênteses
tupla_numero = (10,20,30)
tupla_numero

(10, 20, 30)

In [155]:
#Tupla sem parênteses
tupla_numero = (10,20,30)
tupla_numero

(10, 20, 30)

In [156]:
#Tupla com apenas um elementos
tupla_numero = 10,

In [157]:
tupla_numero
(10,)

(10,)

In [158]:
#Tupla vazia
tupla_vazia = ()
tupla_vazia

()

In [159]:
#função tuple
nova_tupla = tuple("teste")
nova_tupla
("T","e","s","t","e")

('T', 'e', 's', 't', 'e')

In [160]:
#contado elementos da tupla
tupla_nomes = ("Marlene","zezinho","Marlene","Cibele","Zuely")
tupla_nomes.count("Marlene")
print(tupla_nomes.count("Suely")) #contando os elementos presente na tupla
print(tupla_nomes.count("Zezinho"))

0
0

In [161]:
tupla_nomes = ("Marlene","zezinho","Marlene","Cibele","Zuely")

In [162]:
tupla_nomes.count("Marlene")

2

In [163]:
print(tupla_nomes.count("Suely"))

0

In [164]:
print(tupla_nomes.count("Zezinho"))

0

In [165]:
#crie uma tupla com os seguintes elementos:1,2,2,3,4,4,4,5
tupla_numero = 1,2,2,3,4,4,4,5
#Use a função count do objeto tupla para verificar
tupla_numero.count(4)
#Print para mostrar o resultado
print(tupla_numero.count(4))

3

In [166]:
#Use a função count do objeto tupla para verificar
tupla_numero.count(4)

3

Dicionário (maps) em python

In [167]:
#criando um dicionário
dicio = {"chave" : "valor"}

In [168]:
print(type(dicio))

<class 'dict'>

In [169]:
#O que acontece emcada sequência de comandos a seguir
d = {"laranjas": 15, "bananas": 35,"siriguelas": 12}

In [170]:
d["bananas"]

35

In [171]:
#O que acontece emcada sequência de comandos a seguir
d["pitomba"] = 20

In [172]:
#quantos elementos(frutas) o d tem
len(d)

4

In [173]:
d

{'laranjas': 15, 'bananas': 35, 'siriguelas': 12, 'pitomba': 20}

In [174]:
#Pegunta:pitomba está no b?
"pitomba" in d

True

In [175]:
"pears" in d

False

In [176]:
#tirar laranjas do objeto
del d["laranjas"]

In [177]:
"laranjas" in d

False

In [178]:
#lista
frutas = ["pinha","oiti coró", "jaca", "tamarindo"]

In [179]:
print([1,2] + [3,4])

[1, 2, 3, 4]

In [180]:
print(frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [181]:
print([0] * 4)

[0, 0, 0, 0]

In [185]:
print([1,2,["oi", "tchau"]] * 2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]