In [1]:
"""comentando código
comentando código
comentando código
comentando código
comentando código"""

#comentar

'comentando código\ncomentando código\ncomentando código\ncomentando código\ncomentando código'

In [2]:
"""Operações com variáveis"""
idade1 = 20
idade2 = 35
idade1 + idade2
somaIdade = idade1 + idade2
"""Quando coloca somaIdade ele entende que é para guardar e não para mostrar o resultado"""

'Quando coloca somaIdade ele entende que é para guardar e não para mostrar o resultado'

In [3]:
"""Operações com variáveis"""
idade1 - idade2

-15

In [4]:
"""Operações com variáveis"""
idade1 * idade2

700

In [5]:
"""Operações com variáveis"""
idade1 / idade2

0.5714285714285714

In [6]:
somaIdades = idade1 = idade2

print(somaIdades)

35

In [7]:
calculo1 = 2*(idade1+idade2)

In [8]:
#Parêntesis
#Expoente
#Multiplicação
#Divisão
#Adição
#Subtração

In [9]:
calculo2 = 2 * idade1 + 3 * idade2 / 4

In [10]:
calculo3 = (2 * idade1 + 3 * idade2) / 4

In [12]:
print(calculo1)
print(calculo2)
print(calculo3)

140
96.25
43.75

In [13]:
idade1 ** 2

1225

In [14]:
15 ** 2

225

In [15]:
idade2 // idade1

1

In [16]:
idade2 / idade1

1.0

In [17]:
idade2 % idade1

0

In [18]:
nome= "Rebeca"
sobrenome= "Lyra"

In [19]:
print(nome + sobrenome)

RebecaLyra

In [22]:
print(nome + "" + sobrenome)

RebecaLyra

In [24]:
print('olá,', nome, 'você tem', idade1 +15,"anos.")

olá, Rebeca você tem 50 anos.

In [25]:
print(nome, sobrenome,)

Rebeca Lyra

In [30]:
#\n é para descer o texto
print('\n', 'Olá,', nome, '\n', 'Você tem', idade1 + 15, 'anos.')

 Olá, Rebeca
 Você tem 50 anos.

In [32]:
#Digite sua idade
idade= input('digite sua idade:')

In [34]:
print(idade)

23

In [33]:
#Entende como texto
type(idade)

str

In [35]:
idade= int(input('digite sua idade:'))

In [37]:
#Entende como número
type(idade)

int

In [39]:
num1= 12
num1-=1
print(num1)

11

In [40]:
num2= 12
num2+=1
print(num2)

13